body {
    background-color: rgb(15, 131, 112);
    }
    
    h2 {
      color: #242222;
    }
    
      
      
      .container {
        max-width: 500px;
      }
      
      .nav-tabs .nav-link {
        font-weight: bold;
      }
      
      .nav-tabs .nav-link {
        color: #1b354f !important;
        font-weight: bold;
      }
      
      .nav-tabs .nav-link.active {
        background-color: white !important;
        color: #0a95c6 !important; 
      }
      
      .nav-tabs .nav-link:hover {
        color: rgba(0, 55, 255, 0.505) !important;
      }
      
      .card img {
        height: 150px;
        object-fit: cover;
      }
      
      .search-input {
        max-width: 400px;
        margin: auto;
        display: block;
      }
      
      
      .btn-info {
        font-weight: bold;
      }
      
      .book-container {
        margin: auto;
        width: 80%;
      }